<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Puzzle backend</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <h1>Puzzle Backend</h1>
    <form
      action="/upload"
      method="post"
      enctype="multipart/form-data"
      class="upload-form"
    >
      <input type="file" name="foodImg" accept="image/*" required />
      <br />
      <input type="text" name="menu" placeholder="메뉴 이름" required />
      <br />
      <input type="text" name="place" placeholder="가게 이름" required />
      <br />
      <input type="text" name="address" placeholder="가게 주소" required />
      <br />
      <input type="number" name="price" placeholder="원래 가격" required />
      <br />
      <input
        type="number"
        name="saledPrice"
        placeholder="할인된 가격"
        required
      />
      <br />
      <input type="text" name="deadline" placeholder="마감 시간" required />
      <br />
      <input type="submit" name="upload" value="올리기" />
    </form>
    {% block content %} {% endblock %} {% block script %} {% endblock %}
  </body>
</html>
