<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Puzzle backend</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <h1>Puzzle Backend</h1>
    <form
      action="/upload"
      method="post"
      enctype="multipart/form-data"
      class="upload-form"
    >
      <img id="output" class="img-output hidden" />
      <br />
      <input
        class="form-input"
        type="file"
        name="foodImg"
        accept="image/*"
        onchange="loadFile(event)"
        required
      />
      <br />
      <input
        class="form-input"
        type="text"
        name="menu"
        placeholder="메뉴 이름"
        required
      />
      <br />
      <input
        class="form-input"
        type="text"
        name="place"
        placeholder="가게 이름"
        required
      />
      <br />
      <input
        class="form-input"
        type="text"
        name="address"
        placeholder="가게 주소"
        required
      />
      <br />
      <input
        class="form-input"
        type="number"
        name="price"
        placeholder="원래 가격"
        required
      />
      <br />
      <input
        class="form-input"
        type="number"
        name="saledPrice"
        placeholder="할인된 가격"
        required
      />
      <br />
      <input
        class="form-input"
        type="number"
        name="count"
        placeholder="개수"
        required
      />
      <br />
      <label for="hours" class="deadline">마감시간</label>
      <br />
      <select name="ampm">
        <option>오전</option>
        <option selected>오후</option>
      </select>
      <input
        id="deadline-hours"
        type="number"
        name="deadlineHours"
        placeholder="시"
        max="12"
        maxlength="2"
        required
      />
      :
      <input
        type="number"
        name="deadlineMinutes"
        placeholder="분"
        max="59"
        maxlength="2"
        required
      />
      <br />
      <br />
      <input type="submit" name="upload" value="올리기" />
    </form>
    {% block content %} {% endblock %}
    <script>
      const loadFile = (event) => {
        try {
          const reader = new FileReader();
          reader.onload = function () {
            let output = document.getElementById("output");
            output.src = reader.result;
            output.classList.remove("hidden");
          };
          reader.readAsDataURL(event.target.files[0]);
        } catch (err) {
          const output = document.getElementById("output");
          output.classList.add("hidden");
        }
      };
    </script>
    {% block script %} {% endblock %}
  </body>
</html>
