{% extends 'index.html' %} {% block content %} {% for item in id %}
<div class="items-div">
  <img src="{{fileURL[loop.index0]}}" alt="foodImg" class="food-img" />
  <div>
    <input hidden value="{{id[loop.index0]}}" />
    <input hidden value="{{createdAt[loop.index0]}}" />
    <div id="id">id : <span class="id">{{id[loop.index0]}}</span></div>
    <div>메뉴 : {{menu[loop.index0]}}</div>
    <div>가게 : {{place[loop.index0]}}</div>
    <div>주소 : {{address[loop.index0]}}</div>
    <div>원가 : {{price[loop.index0]}}</div>
    <div>할인가 : {{saledPrice[loop.index0]}}</div>
    <div>개수 : {{count[loop.index0]}}</div>
    <div>
      <span>마감시간 : </span>
      <span class="am-pm">{{ampm[loop.index0]}}</span>&nbsp;
      <span class="deadline-hours">{{deadlineHours[loop.index0]}}</span>
      <span>:</span>
      <span class="deadline-minutes">{{deadlineMinutes[loop.index0]}}</span>
    </div>
    <div hidden class="ca">{{createdAt[loop.index0]}}</div>
  </div>
  <div class="delete-div">
    <input type="button" value="delete" class="delete-btn" />
  </div>
</div>
<br />
{% endfor %} {% endblock %} {% block script %}
<script>
  //버튼 클릭 시 삭제
  const deleteBtn = document.querySelectorAll(".delete-btn");
  const confirmDel = (event) => {
    const id = event.target.parentNode.parentNode.children[1].children[0].value;
    const ca = event.target.parentNode.parentNode.children[1].children[1].value;
    if (window.confirm("정말 삭제하시겠습니까?")) {
      location.href = `/delete-item?id=${id}&ca=${ca}`;
    } else {
      return;
    }
  };
  deleteBtn.forEach((event) => {
    event.addEventListener("click", confirmDel);
  });

  //마감시간 일치 시 삭제
  const ampm = document.querySelectorAll(".am-pm");
  const deadlineHours = document.querySelectorAll(".deadline-hours");
  const deadlineMinutes = document.querySelectorAll(".deadline-minutes");
  const id = document.querySelectorAll(".id");
  const ca = document.querySelectorAll(".ca");
  let itemsArr = [];
  for (let i = 0; i < ampm.length; i++) {
    itemsArr = [
      ...itemsArr,
      {
        ampm: ampm[i].innerHTML,
        deadlineHours: deadlineHours[i].innerHTML,
        deadlineMinutes: deadlineMinutes[i].innerHTML,
        id: id[i].innerHTML,
        ca: ca[i].innerHTML,
      },
    ];
  }
  const checkDeadline = () => {
    //time, currentHours, currentMinutes는 호출하는 순간의 값으로 지정되기 때문에 setInterval로 계속 호출해서 변수 설정해줘야함.
    const time = new Date();
    const currentHours = time.getHours();
    const currentMinutes = time.getMinutes();
    itemsArr.forEach((event) => {
      const { ampm, deadlineHours, deadlineMinutes, id, ca } = event;
      if (
        ampm === "오전" &&
        Number(deadlineHours) === currentHours &&
        Number(deadlineMinutes) === currentMinutes
      ) {
        location.href = `/delete-item?id=${id}&ca=${ca}`;
      } else if (
        ampm === "오후" &&
        (Number(deadlineHours) === 12 || //오후 12시
          Number(deadlineHours) + 12 === currentHours) && //오후 1시 ~ 11시
        Number(deadlineMinutes) === currentMinutes
      ) {
        location.href = `/delete-item?id=${id}&ca=${ca}`;
      }
    });
  };
  setInterval(() => {
    checkDeadline();
  }, 5000);
</script>
{% endblock %}
