* {
  box-sizing: border-box;
}
.upload-form {
  margin-bottom: 20px;
}
.items-div {
  display: flex;
}
.food-img {
  width: 150px;
  height: 150px;
}
.delete-div {
  margin-top: 10px;
}
.delete-btn {
  text-decoration: none;
  margin-left: 10px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  color: red;
}
